{% extends 'base.html' %}

{% block title %}INK | Talk to us! {% endblock %}
{% block login_active %}active{% endblock %}


{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Come lets share Ideas</h1>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7973987692853!2d36.78520111476123!3d-1.2961835990546116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1098ad388901%3A0xc7474f6421da6f91!2sNabro+Apartments!5e0!3m2!1sen!2sus!4v1462996484835"></iframe>
                </div>

                <div class="span4">
                    <h2>Ink Offices</h2>
                    <address>
                        <strong>Nabro Apts</strong><br>
                        Ring Road, Kilimani<br>
                        Nairobi | Kenya<br>
                        Kenya<br>
                    </address>
                </div>
            </div>
        </div>

    </div>

    {% include "footer.html" %}

{% endblock %}