
{% extends 'base.html' %}
{% load static from staticfiles %}

{% block crew_active %}active{% endblock %}

{% load static from staticfiles %}

{% block body %}
    <div class="container">

        <h3 style="text-align: center;" > <i>Our reputation is built on our people.</i> </h3>

        <br>

        <div class="row">
            {% for crew in crews %}
                <div class="col-sm-4">
                    <div class="crew">
                        <img alt="{{crew.name}}" src="{{crew.avator.url}}" width="184px" height="308px" class="img-rounded"/>
                        <h2 style="position: relative;">{{ crew.name }}</h2>
                        <p style="position: relative;">{{ crew.designation }} | {{ crew.other }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


    {% include "footer.html" %}


{% endblock %}