{% extends 'base.html' %}


{% block title %}
    INK PRODUCTIONS | Home
{% endblock%}

{% load staticfiles %}

{% block body %}

    <div class="container-fluid">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="{% static "polls/../../static/images/first_slide.jpg" %}" alt="Chania" >
                </div>

                <div class="item">
                    <img src="{% static "polls/../../static/images/slide5.jpg" %}" alt="Chania" >
                </div>

                <div class="item">
                    <img src="{% static "polls/../../static/images/slide2.jpg" %}" alt="Flower" >
                </div>

                <div class="item">
                    <img src="{% static "polls/../../static/images/slide1.jpg" %}" alt="Flower" >
                </div>

                <div class="item">
                    <img src="{% static "polls/../../static/images/pendo_studio.jpg" %}" alt="Flower">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <h3 style="text-align: center;">links to more of our work</h3>

        {#    for the video links#}

        <div class="container">


            <hr>
            <div class="row">
                <div class="col-sm-4">
                    {% for youtube in youtubes %}

                        <div class="col-xs-6 col-md-4">
                            <iframe style="padding: 20px;" width="270" height="148" src="{{ youtube.link }}" frameborder="0" allowfullscreen ></iframe>
                        </div>

                    {% endfor %}
                </div>
            </div>

        </div>

        {% include "footer.html" %}

    </div>






{% endblock %}
