{% extends 'base.html' %}

{% block title %}INK | Albums{% endblock %}

{% block body %}
    <div class="container">
        <h3><i>Browse through our gallery of Albums</i></h3>
        {% for album in albums %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'photo:show' album.slug %}">
                        {% if album.cover %}
                            <img src="{{ album.cover.url }}" class="img-responsive" height="235" width="157">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h4>{{ album.album_title }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "footer.html" %}


{% endblock %}


{#            <!-- Left Album Info -->#}
{#            <div class="col-sm-12 col-md-4">#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-body">#}
{#                        <a href="{% url 'photo:pin-detail' album.id %}">#}
{#                            {% if album.cover %}#}
{#                                <img src="{{ album.cover.url }}" class="img-responsive">#}
{#                            {% else %}#}
{#                                <h3>No image to display</h3>#}
{#                            {% endif %}#}
{#                        </a>#}
{#                        <small>{{ album.album_title }}</small>#}
{#                        <br>#}
{#                        <small><i>By: </i>{{ album.editor }}</small>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}