{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}

<div class="container">
  <h3>Log In</h3>
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <form class="form-horizontal" role="form" action="{% url 'photo:login_user'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_username">
        Username:
      </label>
        <div class="col-sm-10">
          <input id="id_username" maxlength="30" name="username" type="text">
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_password">
        Password:
      </label>
      <div class="col-sm-10">
        <input id="id_password" maxlength="30" name="password" type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>
<p style="text-align:center;" >
  Don't have an account..? <a href="{% url 'photo:register' %}">Click here!</a> to register.
</p>
</div>


{% include "footer.html" %}

{% endblock %}
