{% extends 'base.html' %}

{% block title %}INK | Upload Photos{% endblock %}

{% load staticfiles %}

{% block content %}
    <h1>Form</h1>

    <div class="col-md-6 col-sm-offset-3">
        <h1>Form</h1>
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Upload Photos" >
        </form>
    </div>

    {% include "footer.html" %}

{% endblock %}