{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

  <!-- <div class="row"> -->
  <!-- <div class="col-sm-12 col-md-6"> -->
  <!-- <div class="panel panel-default"> -->
  <!-- <div class="panel-body"> -->
  <!-- <h3>Register for an Account</h3> -->
  <!-- {% if error_message %} -->
  <!-- <p><strong>{{ error_message }}</strong></p> -->
  <!-- {% endif %} -->
  <!-- <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data"> -->
  <!-- {% csrf_token %} -->
  <!-- {% include 'photo/form_template.html' %} -->
  <!-- <div class="form-group"> -->
  <!-- <div class="col-sm-offset-2 col-sm-10"> -->
  <!-- <button type="submit" class="btn btn-success">Submit</button> -->
  <!-- </div> -->
</div>
<!-- </form> -->
<!-- </div> -->
<!-- <div class="panel-footer"> -->
<!-- Already have an account? <a href="{% url 'photo:login_user' %}">Click here</a> to log in. -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div><!--  -->


<div class="container">
  <h3> Register for an Account </h3>
  {% if error_message %}

  <strong>{{ error_message }}</strong>
  {% endif %}

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'photo/form_template.html' %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" > Submit</button>
      </div>
    </div>
  </form> 
</div>
<div>
  <p style="text-align:center;" >
    Already have an account? <a href="{% url 'photo:login_user' %}"> Click here </a> to log in.
  </p>
</div>

{% include "footer.html" %}

</div>


{% endblock %}
