{% extends 'base.html' %}

{% block title %}INK | {{ album }}{% endblock %}

{% block albums_active %}active{% endblock %}

{% block body %}

    <h4 style="text-align: center">ALBUM: <i>{{ album.album_title }}</i></h4>

    <div class="container-fluid">
        {% for pin in album.pin_set.all %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ pin.image.url }}" alt="...">
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "footer.html" %}


{% endblock %}
