{% extends 'base.html' %}

{% block title %}INK CAST{% endblock %}



{% block body %}


    {#    <div class="container">#}
    {##}
    {#        <h3 style="text-align: center;">Your favorite cast</h3>#}
    {#        {% for talent in talents %}#}
    {#            <div class="col-sm-12 col-md-4">#}
    {#                <div class="panel panel-default">#}
    {#                    <div class="panel-body">#}
    {#                        <a href="#">#}
    {#                            <img alt="{{talent.name}}" src="{{talent.image.url}}" title="{{ talent.name }}" class="img-responsive image-rounded" width="260" height="145" style="padding-right: 50px" />#}
    {#                        </a>#}
    {#                    </div>#}
    {#                    <div class="panel-footer">#}
    {#                        <h4><i>{{talent.name}}</i></h4>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}


    <div class="container">

        <h3>Your favorite cast</h3>
        {% for talent in talents %}
            <div class="col-sm-12 col-md-6">
                <div class="img" style=" width: 418px;">
                    <h3 style="text-align: center;">{{ talent.name }}</h3>
                    <img src="{{talent.image.url}}" alt="{{talent.name}}" width="669" height="342" title="{{ talent.name }}">
                    <div class="desc">{{ talent.description }}</div>
                </div>
            </div>
        {% endfor %}
    </div>


    <style>
        div.img {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.img:hover {
            border: 1px solid #777;
        }

        div.img img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>




    {% include "footer.html" %}


{% endblock %}
