{% extends 'base.html' %}

{% block title %}CAST | {{cast.name}} {% endblock %}


{% block body %}


    <div class="container">
        <h1>{{ cast.name }}</h1>

        <div class="row">
            <div class="col-md-4 ">
                <img src="{{cast.image.url}}" alt="{{ cast.name }}" width="400" height="600" style="border-radius: 10px;">
            </div>

            <br>
            <br>

            <div class="col-md-4 col-md-offset-3">
                <ul class="list-unstyled">
                    <li>
                        <p>
                            An only child born of 1/2 Dutch,1/2 Abaluhya
                        </p>
                    </li>

                    <br>

                    <li>
                        <p>
                            GYM instructor at the coliseum centre adams arcarde
                        </p>
                    </li>

                    <br>

                    <li>
                        <p>
                            Part time model and makeup artist
                        </p>
                    </li>

                    <br>

                    <li>
                        <p>
                            Just started her “mblokfit” movement for fitness
                        </p>
                    </li>

                    <br>

                    <li>
                        <p>
                            December 2015, Marjolein starred in reality television series, Nairobi Diaries.
                        </p>
                    </li>
                    <li>
                        <p>
                            She is a sharp shooter...jovial and loves fashion,a go getter
                        </p>
                    </li>

                    <br>

                    <li>
                        <p>
                            She is also dating.
                        </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <br>

    {% include "footer.html" %}


{% endblock %}
