{% extends 'base.html' %}

{% block title %}INK | Seasons {% endblock %}

{% load staticfiles %}


{% block body %}

    <div class="container">

        <div class="container-fluid" style="padding-bottom: 10px;">
            <h3 style="padding-left: 10%; position: relative;">Nairobi Diaries | Since 2015 </h3>
            <hr>


            <div class="container">
                <div class="row">
                    <div class="col-sm-4" style="padding-bottom: 10px;">
                        <img src="{% static "polls/../../static/images/first_slide.jpg" %}" alt="Nairobi Diaries | Videos" width="540" height="330">
                    </div>

                    <div class="col-md-offset-6 pull-md-9" style="padding-left: 10%; position: relative;">
                        <p>
                            Nairobi Diaries is a Kenyan reality television series that premiered on 14 December 2015 on K24.
                            <br>
                            The one-hour show stars entrepreneur and socialite Vera Sidika, fashion stylist Silvia Njoki,
                            <br>
                            musician and actress Ella Ciru, NGO ambassador and student Gertrude Murunga, architect Kiki Diang’a,
                            <br>
                            fitness instructor Marjolein Blokland and socialite and singer Pendo.
                        </p>

                        <br>

                        <h5> <strong style="padding-right: 40px; font-size: 15px;">Genres:</strong>      Drama | Comedy | Reality</h5>
                        <h5> <strong style="padding-right: 40px; font-size: 15px;">Duration:</strong>    45 mins</h5>
                        <h5> <strong style="padding-right: 15px; font-size: 15px;">Produced In:</strong> 2015-2016</h5>
                        <h5> <strong style="padding-right: 40px; font-size: 15px;">Starring:</strong>    Pendo,Judy,Dana</h5>
                    </div>
                </div>
            </div>



        </div>

        <br>
        <br>

        <div class="container-fluid">
            {% for season in object_list%}
                <button class="accordion">{{ season.season_name }}</button>
                <div class="panel">
                    {% for video in season.video_set.all %}
                        {% if video %}
                            <ul>
                                <a href="{% url 'video:video-detail' video.id %}">
                                    <button class="accordion">{{ video.name }}</button>
                                </a>
                            </ul>
                        {% else %}
                            <h3>Sorry..videos not uploaded yet</h3>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>

    <br>

    <br>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function(){
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }

    </script>


    {% include "footer.html" %}

{% endblock %}
