{% extends 'base.html' %}
{% block title %} {{ season.name }} {% endblock %}
{% load staticfiles %}
{% load embed_video_tags %}

{% block body %}

    <div class="container" style="padding-bottom: 10%">
        <div style="text-align: center">
            <h3>{{ video.name }}</h3>
            <br>


            <iframe width="420" height="315" src="{{ video.link }} " frameborder="0" allowfullscreen></iframe>


            <br><br>
        </div>
    </div>

    {#ericcaleb1@gmail.com#}

    <script>
        var myVideo = document.getElementById("video1");

        function playPause() {
            if (myVideo.paused)
                myVideo.play();
            else
                myVideo.pause();
        }

        function makeBig() {
            myVideo.width = 756;
        }

        function makeSmall() {
            myVideo.width = 320;
        }

        function makeNormal() {
            myVideo.width = 520;
        }
    </script>

    {% include "footer.html" %}

{% endblock %}
