<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}INK PRODUCTIONS{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{% static 'polls/js/main.js' %}"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a href="{% url 'polls:index' %}">
                <img src="{% static "polls/../../static/images/ink_logo.png" %}" height="50" alt="Ink productions">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'admin:index' %}">Admin</a>
                    </li>

                {% endif %}

                <li>
                    <a href="{% url 'polls:index' %}">Home</a>
                </li>

                <li>
                    <a href="{% url 'polls:crew' %}">Crew</a>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nairobi Diaries
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="#">XTRAS</a></li> -->
                        <li><a href="{% url 'photo:album' %}"> PHOTOS </a></li>
                        <li><a href="{% url 'video:season' %}">VIDEOS</a></li>
                        <li><a href="{% url 'talent:talent' %}">CAST</a></li>
                        <!-- <li><a href="#">FAVORITES</a></li> -->
                    </ul>
                </li>




                {# <a href="#">About Us</a>#} {# </li>#}
                <li>
                    <a href="{% url 'polls:contact' %}">Contact</a>
                </li>

                <!-- <li> -->
                <!--     <a href="{% url 'polls:reels' %}">Reels</a> -->
                <!-- </li> -->

                <li>
                    <a href="{% url 'photo:register' %}">Login|SignUp!</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



{% block body %} {% endblock %}

</body>

</html>
