{% load staticfiles %}

<footer style="background-color: lightgrey;">

	<hr>

	<div class ="container">
		<div class ="row">

			<div class ="col-md-4">
				<p class= "conts" style="text-align: center;">

					INK PRODUCTIONS LTD.

					<br/>

					Email: inkproductionsltd@gmail.com

					<br/>

					Email: info@inkproductions.co.ke

					<br/>

					T air: +254 734755244  T saf: +254 722 568 460
					<br/>
					T saf: +254 721854821
					<br/>
					Nairobi, Kenya
				</p>
			</div>
			<div class ="col-md-3">
				<ul class="list-inline" style=" left: 40%;">
                    <img src="{% static "polls/../../static/images/facebook.png" %}" height="40" width="40" alt="facebook" >
                    <img src="{% static "polls/../../static/images/instagram.png" %}" height="40" width="40" alt="instagram" >
                    <img src="{% static "polls/../../static/images/twitter.png" %}" height="40" width="40" alt="twitter" >
				</ul>
			</div>

			<div class ="col-md-5">
				<div class="patners" style="text-align: center;">
					<h4>Our Patners</h4>
				</div>
				<ul class="list-inline" style=" left: 15%;">
                    <img src="{% static "polls/../../static/images/west_wood.jpg" %}" height="60" width="80" alt="west_wood" >
                    <img src="{% static "polls/../../static/images/4ina.jpg" %}" height="60" width="80" alt="4ina" >
                    <img src="{% static "polls/../../static/images/ebony.png" %}" height="60" width="80" alt="ebony" >
                    <img src="{% static "polls/../../static/images/club_life.jpg" %}" height="60" width="80" alt="club_life" >
                    <img src="{% static "polls/../../static/images/k24.jpg" %}" height="60" width="80" alt="k24" >
				</ul>
				<br>
				<ul class="list-inline" style="left: 40%;">
                    <img src="{% static "polls/../../static/images/unbeweavable.jpg" %}" height="60" width="60" alt="unbeweavable" >
                    <img src="{% static "polls/../../static/images/dent_group.png" %}" height="60" width="60" alt="dent_group" >
				</ul>
			</div>
		</div>
	</div>

	<div class = "mwisho" style="text-align: center;">
		<h4>Copyright &copy; 2017
            <br>
            <i>Revel Inc.</i> </h4>
		<h4>T +254 729-055-061 </h4>

	</div>

	<br>

</footer>
